@model SchoolApp.ViewModels.GroupInstanceDeleteViewModel
@using (Ajax.BeginForm(
    "Delete",
    "GroupInstance",
    new AjaxOptions
    {
        UpdateTargetId = "update-message",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "Post",
        OnSuccess = "updateSuccess"
    },
    new { @id = "deleteGroupInstanceForm" }))
{
<h4>Вы уверены что хотите удалить эту запись?</h4>
    @Html.Hidden("RemoveInstance")
    @Html.HiddenFor(x=>x.StartDate)
    @Html.HiddenFor(x=>x.EndDate)
    <div id="update-message"></div>

}
