.listbox-header
{
text-align: center;
font-weight: bold;
}
.table-min
{
    width:auto;
}
.row-transparent
{
    opacity:0.4;
}
.removeEvent
{
    color:white;
    float: right;
padding-right: 10px;
}