.listbox-header
{
text-align: center;
font-weight: bold;
}
.table-min
{
    width:auto;
}
.row-transparent
{
    opacity:0.4;
}
.scheduleToolbar
{
    float: right;
}
.toolbarIcon
{
    color:white;
    padding-right:5px;
    padding-left:5px;
}
.ruleStudents
{
    width:50px;
}
.ruleAmount
{
    width:75px;
}
#tableRules th, #tableRules td { 
     border-top: none; 
 }
#updatePaymentRuleForm
{
    text-align:center;
}

.brand {
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
    color:white !important;
}

.add-on-rounded {
    -webkit-border-radius: 4px 4px 4px 4px !important;
    -moz-border-radius: 4px 4px 4px 4px !important;
    border-radius: 4px 4px 4px 4px !important;
    padding-bottom: 0 !important;
}
