@model SchoolApp.ViewModels.StudentEditViewModel

@{
    ViewBag.Title = "Добавление студента";   
}

<div class="row-fluid">
    @Html.Partial("_StudentEditPartial")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
