@model SchoolApp.ViewModels.StudentEditViewModel

@{
    ViewBag.Title = "Edit";
}
<div class="row-fluid">
    
</div>

<div class="row-fluid">
     
    @Html.Partial("_StudentEditPartial")

    <div class="span8">
        @Html.Action("Index","Guardian", new {id = Model.Student.UserId })
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
