@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
           <h1>Здесь будут всякие штуки</h1>
        </div>
    </section>
}