@if (Request.IsAuthenticated) {
    						<li class="light-blue user-profile">
							<a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
								<img class="nav-user-photo" src="content/avatars/user.jpg" alt="Jason's Photo" />
								<span id="user_info">
									<small>Привет,</small>
									@User.Identity.Name
								</span>

								<i class="icon-caret-down"></i>
							</a>

							<ul class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer" id="user_menu">
								<li>
									<a href="#">
										<i class="icon-cog"></i>
										Настройки
									</a>
								</li>

								<li class="divider"></li>

								<li>
                                     @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                                 @Html.AntiForgeryToken()
                                 <a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-off"></i>Выйти</a>
                                       }
									@*<a href="#">
										<i class="icon-off"></i>
										Logout
									</a>*@
								</li>
							</ul>
						</li>
} else {
    <li>@Html.ActionLink("Register", "Register", "Account")</li>
    <li>@Html.ActionLink("Log in", "Login", "Account")</li>
}
