@{
    var defaultRoles = new[] { SchoolApp.Extensions.Helpers.TEACHER_ROLE, SchoolApp.Extensions.Helpers.ADMIN_ROLE };
    var adminsOnly = new[] { SchoolApp.Extensions.Helpers.ADMIN_ROLE };
    var menus = new[]
                {
                   //new { LinkText="Дэшборд", ActionName="Index",ControllerName="Dashboard", IconClass="icon-dashboard", Roles=defaultRoles  },
                   new { LinkText="Расписание", ActionName="Index",ControllerName="GroupInstance", IconClass="icon-calendar", Roles=defaultRoles  },
                   new { LinkText="Комнаты", ActionName="Index",ControllerName="Classroom", IconClass="icon-building",Roles=adminsOnly},
                   new { LinkText="Студенты", ActionName="Index",ControllerName="Student", IconClass="icon-user",Roles=defaultRoles },
                   new { LinkText ="Будущие Студенты", ActionName="Index", ControllerName="FutureStudent", IconClass="icon-user", Roles=defaultRoles},
                   new { LinkText="Учителя", ActionName="Index",ControllerName="Teacher", IconClass="icon-user",Roles=adminsOnly },
                   new { LinkText="Группы", ActionName="Index",ControllerName="Group", IconClass="icon-group",Roles=defaultRoles },
                   new { LinkText="Профили Оплаты", ActionName="Index",ControllerName="PaymentProfile", IconClass=" icon-credit-card",Roles=adminsOnly  },
                   new { LinkText="Оплата", ActionName="Index",ControllerName="Payment", IconClass="icon-money",Roles=defaultRoles  },
                   new { LinkText="Управление Пользователями", ActionName="Index",ControllerName="User", IconClass="icon-list-alt",Roles=adminsOnly  },
                  
                };
}
<ul class="nav nav-list">
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        String[] roles = Roles.GetRolesForUser();
        var links = menus.Where(x => x.Roles.Any(y => roles.Contains(y)));

        foreach (var link in links)
        {
        @:<li><a href="@Url.Action(link.ActionName, link.ControllerName)"><i class="@link.IconClass"></i><span>@link.LinkText</span></a></li>
       
    }

    }
</ul>

