@{
    var defaultRoles = new[] { SchoolApp.Extensions.Helpers.TEACHER_ROLE, SchoolApp.Extensions.Helpers.ADMIN_ROLE };
    var adminsOnly = new[] { SchoolApp.Extensions.Helpers.ADMIN_ROLE };
    var menus = new[]
                {
                   new { LinkText="Расписание", ActionName="Index",ControllerName="GroupInstance",Roles=defaultRoles  },
                   new { LinkText="Комнаты", ActionName="Index",ControllerName="Classroom",Roles=adminsOnly},
                   new { LinkText="Студенты", ActionName="Index",ControllerName="Student",Roles=defaultRoles },
                   new { LinkText="Учителя", ActionName="Index",ControllerName="Teacher",Roles=adminsOnly },
                   new { LinkText="Группы", ActionName="Index",ControllerName="Group",Roles=defaultRoles },
                   new { LinkText="Профили Оплаты", ActionName="Index",ControllerName="PaymentProfile",Roles=adminsOnly  },
                   new { LinkText="Оплата", ActionName="Index",ControllerName="Payment",Roles=defaultRoles  },
                   new { LinkText="Управление Пользователями", ActionName="Index",ControllerName="User",Roles=adminsOnly  },
                };
}
<ul id="dashboard-menu" class="nav nav-list collapse in">
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        String[] roles = Roles.GetRolesForUser();
        var links = menus.Where(x => x.Roles.Any(y => roles.Contains(y)));

        foreach (var link in links)
        {
        @: <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)</li>
    }

    }
</ul>

