@model SchoolApp.Models.Guardian

@{
    ViewBag.Title = "Delete";
}

<div class="well">
    <h3>Вы уверены что хотите удалить попечителя по имени @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model=>model.LastName)?</h3>
@using (Html.BeginForm()) {
    <p>
         <button type="submit" class="btn btn-primary"><i class="icon-trash"></i> Удалить</button>
    </p>
}
    </div>
