@{
    ViewBag.Title = "ApprovalRequired";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>Спасибо за регистрацию</h2>
<p>Пожалуйста свяжитесь с администратором сайта для получения полного доступа.</p>
<div class="button-login" style="margin-bottom: 20px;">
                <a href="@Url.Action("Login")" class="btn btn-primary">На главную</a>
            </div>

